.ayudaContainer {
  display: flex;
  flex-direction: column; /* Apila los elementos en pantallas pequeñas */
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #8b4513;
  text-align: center;
  gap: 20px;
}

.logo, .menu {
  width: 100%;
  max-width: 300px;
}

.menu h2 {
  font-family: 'Instrument Serif', serif;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
}

.menu ul li {
  font-family: 'Inria Serif', serif;
  color: #8b4513;
  font-size: 1rem;
  margin: 10px 0;
}

.menu ul li:hover {
  color: #ffd5b5;
}

/* Estilos para pantallas más grandes */
@media (min-width: 1024px) {
  .ayudaContainer {
    flex-direction: row; /* Alinea los elementos en una fila en pantallas grandes */
    gap: 50px; /* Espacio entre los elementos en pantallas grandes */
    padding: 40px;
  }

  .logo, .menu {
    max-width: 33%; /* Ocupa un tercio de la pantalla */
  }

  .menu h2 {
    font-size: 2rem;
  }

  .menu ul li {
    font-size: 1.5rem;
  }
}
