.galeriaContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; /* Espacio entre las imágenes */
  padding: 50px;
  background-color: #8B4513;
}

.imagen {
  display: flex;
  justify-content: center;
}

.imagen img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
}
