.iconosContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: white;
  position: relative;
  background-image: url('/images/fondoPatitas.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px;
  
}

.icono {
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease; /* Transición suave */
}

.icono img {
  transition: transform 0.3s ease; /* Transición para la imagen */
}

.icono:hover img {
  transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}

.icono h3 {
  font-family: 'Instrument Serif', serif;
  font-size: 2rem;
  color: #8B4513; /* Marrón similar al que usaste */
  margin-top: 10px;
}
